@charset "utf-8";
:root {
    --line-of-chars:20;
}
@font-face
{
    font-family: IPAex明朝;
    src: local('IPAex明朝'), 
         local('ipaexm.ttf') format('opentype'),
         local('fonts-japanese-mincho.ttf') format('truetype'),
         url('https://cdn.leafscape.be/IPAexfont/ipaexm_web.woff2') format("woff2");
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'IPAex明朝', sans-serif; 
    font-size: calc(100vw / (var(--line-of-chars)));
}
img.icon {
    width: 1em;
    height: 1em;
}
